<div class="content">
  <aside class="side-bar">
    <div class="side-bar_heading">How To Create a Custom Pipeable Operator</div>
    <div class="side-bar_definition">
    </div>
    <div class="list-title">
      How To:
    </div>
    <ul>
      <li>
        Create a JavaScript function that takes no parameters or any number of required and/or optional parameters.
      </li>
      <li>
        That function should return an unnamed Javascript function which takes an Observable as a parameter.
      </li>
      <li>
        The unnamed function should return the same Observable passed in as a parameter with any custom pipeline processing.
      </li>
    </ul>

    <div class="list-title">
      When To Create Custom Pipeable Operators:
    </div>
    <ul>
      <li>
        To make reusable pipeline code.
      </li>
    </ul>
  </aside>
  <section class="layout">
    <div class="layout_data">
      <img class="slide-image" src="../../assets/images/HowToCreateCustomPipeableOperator.png" alt="How to create a custom pipeable operator">
    </div>
  </section>
</div>
