<div class="content">
  <div class="cards">
    <div class="card pt-0">
      <div class="card-message">Thank You !</div>
    </div>
    <div class="card">
      <div class="card-title">Other Resources</div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-content mt-5">
          <ul>
            <li><a href="https://rxjs.dev/">Official RxJS Documentation</a></li>
            <li><a href="https://reactivex.io/">Official ReactiveX Documentation</a></li>
            <li class="">
              <a class="nav-link" [routerLink]="['/slide-viewer']">All Slides Seen in the Course</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title title-centered">Subscribe to <a href="https://www.youtube.com/@AngularAtWork?sub_confirmation=1" class="text-message text-message-link" target="_blank">Angular &#64; Work&trade;</a> on YouTube<i class="fa-brands fa-youtube"></i></div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-header"></div>
        <div class="card-body-content mt-5">
          <ul>
            <li>Keep your Angular knowledge in shape!!!</li>
            <li>Subscribe to <a href="https://www.youtube.com/@AngularAtWork?sub_confirmation=1" class="text-message text-message-link" target="_blank">Angular &#64; Work&trade;</a>.</li>
            <li><strong>Subscribers</strong> receive <strong>discounts</strong> on courses from the Angular &#64; Work&trade;!!!</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">You can find Angular &#64; Work&trade; at: <strong>{{ 'https://www.youtube.com/@AngularAtWork' }}</strong></div>
    </div>
    <div class="card">
      <div class="card-title">Look for More From Angular &#64; Work&trade;</div>
      <div class="card-definition mt-5"></div>
      <div class="card-body">
        <div class="card-body-content mt-5">
          <ul>
            <li>Angular & Sass</li>
            <li>Angular Directives & Pipes</li>
            <li>Angular Services & Dependency Injection</li>
            <li>And much, more, more!!!</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
