<div class="content">
  <div class="cards">
    <div class="card pt-0">
      <div class="card-message">Thank You !</div>
    </div>
    <div class="card">
      <div class="card-title">Other Resources</div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-content mt-5">
          <ul>
            <li><a href="https://rxjs.dev/">Official RxJS Documentation</a></li>
            <li><a href="https://reactivex.io/">Official ReactiveX Documentation</a></li>
            <li class="">
              <a class="nav-link" [routerLink]="['/slide-viewer']">All Slides Seen in the Course</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title title-centered">Subscribe to <a href="https://www.youtube.com/@RxJSWorkshop?sub_confirmation=1" class="text-message text-message-link" target="_blank">The RxJS Workshop</a> on YouTube<i class="fa-brands fa-youtube"></i></div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-header"></div>
        <div class="card-body-content mt-5">
          <ul>
            <li>Keep your RxJS knowledge in shape!!!</li>
            <li>Subscribe to <a href="https://www.youtube.com/@RxJSWorkshop?sub_confirmation=1" class="text-message text-message-link" target="_blank">The RxJS Workshop</a>.</li>
            <li>Join us every other Tuesday for a new, <strong class="">fun and challenging</strong> exercise.</li>
            <li><strong>Subscribers</strong> receive <strong>discounts</strong> on Udemy courses from the Angular @ Work Team!!!</li>
          </ul>
        </div>
      </div>
      <div class="card-footer">You can find The RxJS Workshop at: <strong>https://www.youtube.com/@RxJSWorkshop</strong></div>
    </div>
    <div class="card">
      <div class="card-title">What's Next From Angular @ Work?</div>
      <div class="card-definition mt-5"></div>
      <div class="card-body">
        <div class="card-body-content mt-5 centered-content">
          Here's a Preview...
        </div>
      </div>
    </div>
  </div>
</div>
