<div class="content">
  <div class="cards">
    <div class="card pt-0">
      <div class="card-message">Thank You !</div>
    </div>
    <div class="card">
      <div class="card-title">Keys To Successfully Using RxJS?</div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-header"></div>
        <div class="card-body-content mt-5">
          <ul>
            <li>Practice!</li>
            <li>Practice!</li>
            <li>Practice!</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">Other Resources</div>
      <div class="card-definition"></div>
      <div class="card-body">
        <div class="card-body-content mt-5">
          <ul>
            <li><a href="https://rxjs.dev/">Official RxJS Documentation</a></li>
            <li><a href="https://reactivex.io/">Official ReactiveX Documentation</a></li>
            <li class="">
              <a class="nav-link" [routerLink]="['/slide-viewer']">All Slides Seen in the Course</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">What's Next From Angular @ Work?</div>
      <div class="card-definition mt-5"></div>
      <div class="card-body">
        <div class="card-body-content mt-5">
          Here's a Preview...
        </div>
      </div>
    </div>
  </div>
</div>
