<div class="content">
  <aside class="side-bar">
    <div class="side-bar_heading">combineLatest</div>
    <div class="side-bar_definition">
      A creation, join operator
    </div>
    <div class="list-title">
      What It Does:
    </div>
    <ul>
      <li>
        A function that accepts an array of Observables and emits an array consisting of 
        the last value of each of the Observables each time any one of the Observables emits. 
        <strong>
          Each of the Observables in the array must emit at least once, 
          in order that the function may emit its first value.
        </strong>
      </li>
    </ul>

    <div class="list-title">
      When To Use It:
    </div>
    <ul>
      <li>
        To monitor a change in the value of any one control within a grouping of UI controls. 
        For example, a group of controls that filters the items in a display.
      </li>     
    </ul>
  </aside>
  <section class="layout">
    <div class="layout_heading">
    <div class="heading_title">Filter Controls</div>
      <div class="heading_controls">
        <div class="subject-input">
          <div class="subject-input_heading">Search Text:</div>
          <input type="text" placeholder="Type search text" (keyup)="keyupSearchText($event)"/>
        </div>
      </div>
      <div class="heading_controls">
        <div class="subject-input">
          <div class="subject-input_heading">Select a State/Territory:</div>
          <select (change)="selectedJurisdiction($event)">
            <option value="(All)">(All)</option>
            <ng-container *ngIf="jurisdictions$ | async as allJurisdictions">
              <option *ngFor="let juris of allJurisdictions" [value]="juris.code">{{ juris.name }}</option>
            </ng-container>
          </select>
        </div>
      </div>
      <div class="heading_controls">
        <div class="subject-input">
          <div class="subject-input_heading">Sort By:</div>
          <div class="sort-controls">
            <select (change)="selectSortProperty($event)">
              <option value="last">Last Name</option>
              <option value="state">State/Territory</option>
            </select>
            <div class="subject-radio">
              <label for="orderAsc">
                <input type="radio" id="orderAsc" name="order" value="asc" checked="true" (change)="changeSortOrder($event)">
                ascending
              </label>
              <label for="orderDesc">
                <input type="radio" id="orderDesc" name="order" value="desc" (change)="changeSortOrder($event)">
                descending
              </label>
            </div>
          </div>
        </div>
      </div>       
    </div>
    <div class="layout_data">
      <div class="selections-title">Current Selections:</div>
      <div class="selections" *ngIf="selections$ | async as selections">
        <div class="selection selection-search-text">
          <span class="selection-label">Search Text:</span>
          <span>{{ selections[0] ? selections[0] : "' '" }}</span>
        </div>
        <div class="selection selection-jurisdiction">
          <span class="selection-label">Selected State/Territory:</span>
          <span>{{ selections[1] }}</span>
        </div>
        <div class="selection selection-sort-property">
          <span class="selection-label">Selected Sort Property:</span>
          <span>{{ selections[2] }}</span>
        </div>
        <div class="selection selection-sort-order">
          <span class="selection-label">Selected Sort Order:</span>
          <span>{{ selections[3] }}</span>
        </div>
      </div>
    </div>
    <div class="layout_subheading">
      <div class="heading_title">Filtered Customers</div>
    </div>
    <div class="">
      <div class="customer-cards">
        <ng-container *ngFor="let customer of filteredCustomers$ | async">
          <app-customer-card [customer]="customer"></app-customer-card>
        </ng-container>
      </div>
    </div>
  </section>
</div>
