<div class="content">
  <div class="cards">
    <div class="card">
      <div class="card-title">What is RxJS?</div>
      <div class="card-definition"><strong>R</strong>eactive E<strong>x</strong>tensions for <strong>J</strong>ava<strong>S</strong>cript is a library that helps us code Observables</div>
      <div class="card-body">
        <div class="card-body-header">Using RxJS we can do all of the following:</div>
        <div class="card-body-content">
          <ul>
            <li>Create Observables</li>
            <li>Manipulate/transform the results of Observables</li>
            <li>
              Create applications using the Reactive Programming Style.  Using the Reactive Programming Style, we can avoid many of the challenges and issues associated with the Imperative Programming style
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">Who Is This Course For?</div>
      <div class="card-definition"><strong>ANYONE</strong> who wants to learn how to effectively use RxJS</div>
      <div class="card-body">
        <div class="card-body-header">Do bear in mind:</div>
        <div class="card-body-content">
          <ul>
            <li>The sample code and applications we'll be coding throughout the course will be done using Angular 14 and TypeScript.</li>
            <li>We will discuss a few things that are specific to Angular programming only.  However, that's a small portion of the course.&nbsp;&nbsp;<strong>Most of the course focuses on RxJS as it can be used in any library or framework</strong>.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">Which RxJS Features Will We Cover?</div>
      <div class="card-grid">
          <div class="grouping">
            <div class="grouping-header">Subjects</div>
            <div class="grouping-group">Subject, BehaviorSubject, ReplaySubject, AsyncSubject</div>
          </div>
          <div class="grouping">
            <div class="grouping-header">Creation/Combination Operators</div>
            <div class="grouping-group">combineLatest, defer, forkJoin, from, interval, merge, of, throwError, withLatestFrom, zip</div>
          </div>
          <div class="grouping">
            <div class="grouping-header">Pipeable Operators</div>
            <div class="grouping-group">
              catchError, concatAll, concatMap, delay, debounceTime, distinctUntilChanged, exhaustMap, filter, finalize, groupBy, map, mergeAll, mergeMap, reduce, scan, share, shareReplay, switchMap, take, tap, throttleTime, toArray,
            </div>
          </div>
          <div class="grouping">
            <div class="grouping-header">Build Custom Operators</div>
            <div class="grouping-group">log, sort, loading</div>
          </div>
      </div>
    </div>
    <div class="card">
      <div class="card-title">What Will We Be Doing?</div>
      <div class="card-definition">The objectives of this course:</div>
      <div class="card-body">
        <div class="card-body-content">
          <ul>
            <li>Discuss in detail a number of RxJS features and what each of them does.</li>
            <li>For each RxJS feature, we'll discuss some of the coding scenarios in which they each work most effectively.</li>
            <li>As we learn a particular RxJS feature, we'll learn how to combine it with the other features we've learned to create reusable coding techniques.</li>
            <li>Have a few side discussions which will help us in our effort to learn and better use RxJS.</li>
            <li>Learn to parse through and understand the official RxJS documentation, including its marble diagrams.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
