<div class="content">
  <aside class="side-bar">
    <div class="side-bar_heading">finalize</div>
    <div class="side-bar_definition">
      A pipeable, utility operator
    </div>
    <div class="list-title">
      What It Does:
    </div>
    <ul>
      <li>
        Calls a function whenever the source Observable completes or errors, or when a subscriber explicitly unsubscribes.
      </li>
    </ul>

    <div class="list-title">
      When To Use It:
    </div>
    <ul>
      <li>
        When you want to perform some task upon Observable finalization.
      </li>     
    </ul>
  </aside>

  <section class="layout">
    <div class="error-message">We'll use the <span><code>finalize</code></span> operator in the last lesson of the course.  Please stay tuned!</div>
  </section>  
</div>
