@import '../../assets/scss/variables';

.side-bar {
  
  li {
    padding-bottom: 15px;
  }

  .emphasis {
    font-weight: 700;
    font-style: italic;
  }

  p {
    font-size: 1.25rem;
    padding: 5px;
  }
}


.layout {
  padding-right: 15px;
  display: grid;
  grid-template-rows: 6rem 1fr;
  gap: 20px;

  &_heading {
    background-color: $white;
    border-radius: 5px;
    color: $primary;
    font-weight: 700;
    padding: 15px;
    vertical-align: middle;
  }
}

