@import '../../assets/css/aaw.css';
@import '../../assets/scss/variables';

.side-bar {
  ul {
    margin-top: 30px;
  }

  li {
    padding-bottom: 15px;
  }
}

.definition-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 18rem);
  gap: 20px 20px;
}

.definition-card {
  background-color: $white;
  height: 150px;
  padding: 15px;
  border-radius: 5px;

  display: grid;
  grid-template-rows: 30px 1fr;
  text-align: center;
  font-size: .9rem;

  &.muted {
    color: $gray-300;
  }

  &_title {
    font-size: 1rem;
    font-weight: 700;

  }

  &_meaning {
    text-align: left;
  }
}

.example {
  padding: 30px 15px;
  font-size: 1.1rem;
  font-weight: 700;

  .example-subscriber {
    display: flex;
    flex-direction: row;

    span {
      margin-right: 15px;
    }
  }

  .example-finalization {
    margin-top: 30px;
  }
}

.layout {
  background-color: transparent;
  padding-right: 15px;
  display: grid;
  grid-template-rows: 10rem 1fr;
  gap: 10px 20px;

  &_data &_heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
        
    &.territory-header {
      color: $danger;
      font-size: 1.2rem;
      padding: 10px 15px;
      margin-top: 15px;
    }
  }

  &_heading {
    background-color: $white;
    border-radius: 5px;
    color: $primary;
    font-weight: 700;
    padding: 10px;

    display: grid;
    grid-template-columns: 200px 1fr 300px;
    justify-content: space-between;
    gap: 15px;
    

    .heading_controls_col {

      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 15px;

      .controls_row {

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        align-items: center;
      }

    }
    
    .heading_controls_single {
      height: 40px;

      display: grid;
      justify-content: end;
      align-self: center;

    }

    span {
      margin-left: 15px;
      font-size: 1.25rem;
    }
  }
}

.heading_controls {
  min-height: 100%;

  display: grid;
}

.subject-input {
  min-height: 40px;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px;

  &.j-flex-end {
    justify-content: flex-end;
  }

  .subject-input_heading {
    font-size: 1.25rem;
    margin-right: 10px;
    align-self: center;

    &.j-right {
      justify-self: end;
      margin-right: 0;
    }
  }

  select,
  input[type=text] {
    width: 275px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25rem;
    border: 1px solid $primary;
    border-radius: 5px;
    padding: 5px;
  }

  select {
    height: 3rem;
    padding: 0 5px;

    option:disabled {
      color: $gray-300;
    }
  }

  .subject-radio {
    font-size: 1.25rem;
    font-weight: normal;

    display: grid; 
    grid-template-columns: max-content max-content max-content;
    gap: 20px;
    align-items: center;

    label {
      margin-bottom: 0;

      input {
        margin-right: 5px;
      }
    }
  }

  button {
    font-size: 1.25rem;
    margin-top: -5px;
  }
}


.sort-controls {
  justify-self:end;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 10px;
  align-items: center;
  justify-items: end;

  .subject-input {
    width: 150px;
  }

  .subject-label {
    font-weight: 700;
  }

  .subject-radio {
    
    display: flex;
    flex-direction: row;
    align-items: center;

    input {
      margin-left: 10px;
    }

    label {
      margin-left: 5px;
      font-size: 1.25rem;
      font-weight: normal;
      vertical-align: middle;

      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

  }
}

.customer-highlight {
  font-size: 0.9rem;
}

