<div class="content">
  <aside class="side-bar">
    <div class="side-bar_heading">from</div>
    <div class="side-bar_definition">
      A creation operator
    </div>
    <div class="list-title">
      What It Does:
    </div>
    <ul>
      <li>
        Synchronously emits one or more elements of an array and then immediately completes.
      </li>
      <li>
        Converts a Promise into an Observable.
      </li>
      <li>
        Emits each individual character of a String.
      </li>
    </ul>

    <div class="list-title">
      When To Use It:
    </div>
    <ul>
      <li>
        When you want to individually emit a given value or group of values.
      </li>
      <li>
        When you want to individually process each item within an array return from an API call.
      </li>
    </ul>
  </aside>
  <section class="layout">
    <div class="layout_heading">
      <div class="heading_title">Items</div>
    </div>
    <div class="layout_data">
      <div class="customer-cards">
        <ng-container *ngIf="item$ | async as item">
          <app-json-show-card [item]="item | json"></app-json-show-card>
        </ng-container>
      </div>
    </div>
  </section>
</div>
