<div class="content">
  <ul>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">transform the result of an Observable emission:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/map']">map</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">filter the emissions of an Observable:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/filter']">filter</a>
        <a class="nav-link" [routerLink]="['/take']">take</a>
        <a class="nav-link" [routerLink]="['/debounce-time']">debounceTime</a>
        <a class="nav-link" [routerLink]="['/distinct-until-changed']">distinctUntilChanged</a>
        <a class="nav-link" [routerLink]="['/debounce-time']">throttleTime</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">use a tool for maintaing state throughout your application:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/subjects']">Subject</a>
        <a class="nav-link" [routerLink]="['/subjects']">BehaviorSubject</a>
        <a class="nav-link" [routerLink]="['/subjects']">ReplaySubject</a>
        <a class="nav-link" [routerLink]="['/subjects']">AsyncSubject</a>
        <a class="nav-link" [routerLink]="['/useful-operators']">scan</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">emit the individual elments of an Array:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/from']">from</a>
        <a class="nav-link" [routerLink]="['/concat-all']">concatAll</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">bundle individual emissions into an Array:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/to-array']">toArray</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">have your UI populate, all at once, using the results of multiple Observables:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/fork-join']">forkJoin</a>
        <a class="nav-link" [routerLink]="['/zip']">zip</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">monitor the changes of a group of Observables, using the last emitted value of each:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/combine-latest']">combineLatest</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">monitor the changes of a group of Observables, using only the value of the most recently changed:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/merge']">merge</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">use the last emitted value of an Observable, without monitoring its change:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/with-latest-from']">withLatestFrom</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">subscribe to and get the result of an Observable inside the pipeline of a source Observable:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/concat-map']">concatMap</a>
        <a class="nav-link" [routerLink]="['/merge-map']">mergeMap</a>
        <a class="nav-link" [routerLink]="['/switch-map']">switchMap</a>
        <a class="nav-link" [routerLink]="['/exhaust-map']">exhaustMap</a>
        <a class="nav-link" [routerLink]="['/concat-all']">concatAll</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">perform side-effects within an Observable pipeline without affecting its value:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/tap']">tap</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">perform side-effects upon the completion, erroring or unsubscribing of an Observable pipeline without affecting its value:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/finalize']">finalize</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">multicast the result of an Observable to all of its subscribers while running the pipeline only once:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/share']">share</a>
        <a class="nav-link" [routerLink]="['/share-replay']">shareReplay</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">catch and handle the error of an Observable:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/catch-error']">catchError</a>
      </span>
    </li>
    <li>
      <span class="header">When You Want To:</span>
      <span class="description">get a refresher on Observables:</span>
      <span class="solutions">
        <a class="nav-link" [routerLink]="['/observable']">Observables Primer</a>
      </span>
    </li>
  </ul>
</div>
