<div class="content">
  <ul>
    <li class="">
      <a class="nav-link" [routerLink]="['/course-details']">Course Details</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/observables-primer']">Observables Primer</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/imperative']"
        >Imperative Programming</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/subjects']">Subjects</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/subjects-continued']"
        >Subjects Cont'd</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/reactive-patterns']"
        >Reactive Programming with RxJS: Patterns</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/interval']">interval</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/take']">take</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/delay']">delay</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/of']">of</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/from']">from</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/map']">map</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/tap']">tap</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/how-to-pipeable-operator']">How to Create a Custom Pipeable Operator</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/custom-log']"
        >Custom Log</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/custom-sort']"
        >Custom Sort</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/filter']">filter</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/concat-all']">concatAll</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/to-array']">toArray</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/fork-join']">forkJoin</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/combine-latest']"
        >combineLatest</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/debounce-time']"
        >debounceTime</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/distinct-until-changed']"
        >distinctUntilChanged</a
      >
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/with-latest-from']">withLatestFrom</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/merge']">merge</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/share-replay']">shareReplay</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/zip']">zip</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/defer']">defer</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/group-by']">groupBy</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/higher-order-mapping-operators']">Higher Order Mapping Operators</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/concat-map']">concatMap</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/merge-map']">mergeMap</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/switch-map']">switchMap</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/exhaust-map']">exhaustMap</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/share']">share</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/scan']">scan</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/catch-error']">catchError</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/finalize']">finalize</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/how-to-creation-operator']">How to Create a Custom Creation Operator</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/custom-loading']">Custom Loading</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/scenarios']">Scenarios</a>
    </li>
    <li class="">
      <a class="nav-link" [routerLink]="['/course-wrap-up']">Course Wrap Up & <br> Next From Angular &#64; Work</a>
    </li>
  </ul>
</div>
