<div class="content">
  <aside class="side-bar">
    <div class="side-bar_heading">Slides</div>
    <ul>
      <li><a class="slide" data-item="imperative1" (click)="highlight($event)">Imperative vs Declarative</a></li>
      <li><a class="slide" data-item="imperative2" (click)="highlight($event)">Imperative vs Declarative Cont'd</a></li>
      <li><a class="slide" data-item="reactive" (click)="highlight($event)">Reactive Programming</a></li>
      <li><a class="slide" data-item="marble-diagram-overview" (click)="highlight($event)">Marble Diagram Overview</a></li>
      <li><a class="slide" data-item="creation-operators1" (click)="highlight($event)">Creation Operators That Complete (Source)</a></li>
      <li><a class="slide" data-item="creation-operators2" (click)="highlight($event)">Creation Operators That Complete (Inner)</a></li>
      <li><a class="slide" data-item="create-pipeable" (click)="highlight($event)">How To Create A Custom Pipeable Operator</a></li>
      <li><a class="slide" data-item="zip-marble-diagram" (click)="highlight($event)">Zip Marble Diagram</a></li>
      <li><a class="slide" data-item="higher-order-mapping-operators" (click)="highlight($event)">Higher Order Mapping Operators</a></li>
      <li><a class="slide" data-item="create-creation" (click)="highlight($event)">How To Create A Custom Creation Operator</a></li>
    </ul>
  </aside>
  <section class="layout">
    <div class="layout_data slide-viewer">
    </div>
  </section>
</div>
